body {
  background-color: pink;
}

td {
  border-style: double;
}

tr {
  border-style: double;
}

header {
  background-color: salmon;
  border-style: double;

}

p {
  font-size: 200%;
}

title {
  position: sticky;
}
